.header h3{
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  font-weight: normal;
  background-color: #ECECEC;
  border: 1px solid #DFDFDF;
}
.header h3 .login{
  float: right;
  font-size: 14px;
  margin-right: 10px;
}
.reg_form{
  width: 700px;
  margin: 50px auto 0;
}
.reg_form ul li{
  text-align: center;
}
.reg_form ul li label {
  display: inline-block;
  width: 188px;
  text-align: right;
  margin-right: 10px;
}
.reg_form ul li input{
  width: 242px;
  height: 37px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.reg_form ul li .error{
  color: #c81523;
  line-height: 16px;
  font-size: 14px;
  height: 16px;
  margin-left: 10px;
}
.reg_form ul li .error .icons{
  display: inline-block;
  width: 20px;
  height: 21px;
  margin-right: 5px;
  background: url(../images/error.png) no-repeat;
  vertical-align: middle;
}
.safe {
  display: block;
  height: 15px;
  line-height: 9px;
  padding-right: 464px;
  font-size: 10px;
  color: #BEBEBE;
  margin-bottom: 20px;
}
.safe em {
  font-style: normal;
  padding: 0 12px;
  color: #fff;
}
.safe .ruo{
  background-color: #DF0900;
}
.safe .zhong{
  background-color: #39B936;
}
.safe .qiang{
  background: #F99100;
}
.reg_form ul .agree{
  display: block;
  margin: 30px 43% 30px 0;
}
.reg_form ul .agree input{
  width: 15px;
  height: 15px;
  margin-bottom: 0;
  vertical-align: middle;
}
.reg_form ul .agree a{
  color: #019FE9;
}
.reg_form ul .submit input{
  width: 200px;
  height: 34px;
  background-color: #c81623;
  font-size: 14px;
  color: #fff;
  margin: 20px 0 50px 230px;
}
.mod_copyright{
  padding-top: 25px;
}
.bk{
  border: 2px solid #ECECEC;
  margin-top: -3px;
}