.header .w .nav ul li:nth-child(2) a {
  color: #00a4ff;
}
.filtrate {
  margin-top: 4.5rem;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f7f7;
}
.filtrate .classCourse {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: auto;
  line-height: 50px;
}
.filtrate .classCourse .left {
  margin-left: 10px;
  font-weight: bold;
  color: #00a4ff;
}
.filtrate .classCourse .right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.filtrate .classCourse .right li {
  width: 100px;
  text-align: center;
}
.filtrate .classCourse .right li a {
  color: #050505;
}
.filtrate .classCourse .right li a:hover {
  color: #00a4ff;
}
.box .box-hd {
  height: 45px;
}
.box .box-hd h3 {
  float: left;
  font-weight: normal;
  font-size: 21px;
  color: #494949;
  line-height: 45px;
  margin-bottom: 0;
  margin-left: 20px;
}
.box .box-hd a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin-top: 10px;
  margin-right: 30px;
}
.box .main .col {
  position: relative;
  top: 0;
  transition: all 0.5s;
  color: #000;
}
.box .main .col:hover {
  top: -8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.box .main .col .card img {
  border-radius: 4%;
}
.box .main .col .info {
  font-size: 12px;
  color: #999;
}
.box .main .col .info span {
  color: #ff7c2d;
}
